<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">

        <activity
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode|navigation|density"
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBarLaunch"
            android:launchMode="singleTask"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

    <!-- Permissions -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />

    <!-- Queries: allow detection of payment apps on Android 11+ -->
    <queries>
        <!-- Sunmi Pay -->
        <intent><action android:name="com.sunmi.pay.action.DO_PAY" /></intent>
        <intent><action android:name="com.sunmi.pay.hardware.aidl.PAY" /></intent>
        <!-- PAX BroadPOS -->
        <intent><action android:name="com.pax.us.pay.action.SALE" /></intent>
        <intent><action android:name="com.pax.pay.action.SALE" /></intent>
        <!-- SumUp -->
        <package android:name="com.sumup.merchant" />
        <intent><action android:name="com.sumup.merchant.PAYMENT" /></intent>
        <!-- Zettle -->
        <package android:name="com.izettle.android" />
        <intent><action android:name="com.izettle.android.payment.CHARGE" /></intent>
        <!-- NEXGO -->
        <intent><action android:name="com.nexgo.payment.action.SALE" /></intent>
        <!-- Ingenico/Concert -->
        <package android:name="fr.concert.caisse" />
        <package android:name="com.ingenico.pclservice" />
        <!-- Sunmi Payment app -->
        <package android:name="com.sunmi.payment" />
        <!-- Generic -->
        <intent><action android:name="android.intent.action.VIEW" /></intent>
    </queries>
</manifest>
